<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head> 
    <body class="text-black" style="background-color: grey;">
        <div class="container">
            <div class="jumbotron text-center" style="background-image" height: 400px; background-position: center; background-size: cover;">
                <h1 class="display-3"><b>Mission to Mars</b></h1>
                <p><a class="btn btn-danger btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
            </div>
            <!--  Mars News -->
            <div class="container">
                <div class="row" id="mars-news">
                    <div class="media">
                        <div class="media-body">
                            <h4>Latest Mars News</h4>
                            <h5>{{mars.newsTitle}}</h5>
                            <p>{{mars.newsParagraph}}</p>
                        </div>
                    </div>
                </div>
            </div>   
            <!-- JPL Mars Space Images - Featured Image -->
            <div class="container">
                <div class="row" id="mars-featured-image">
                    <div class="col-lg-6 col-md-4">
                    <h4>Featured Mars Image</h4>
                        <!-- If Images are False/None/Non-Existent, Then Default to Error Message -->
                        <img src="{{mars.featuredImage | default('static/images/error.png', true) }}" class="img-responsive" style="max-width:100%; max-height: auto;" alt="Mars Featured Image"/>
                    </div>
                    <div >
                        <!-- Mars Facts -->
                        <br>
                        <div class="row" id="mars-facts">
                            <div class="col-md-4">
                                <h4>Mars Facts</h4>
                                {{mars.facts | safe}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mars Hemispheres -->
            <div class="row" id="mars-hemispheres">
                <div class = "page-header">
                    <h2 class = "text-center">Mars Hemispheres</h2>
                </div>
                {% for hemisphere in mars.hemispheres %}
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="{{hemisphares.img_url | default('static/images/error.png', true)}}" alt="...">
                            <div class="caption">
                                <h3> {{hemisphares.title}}</h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
                        
    </body>
</html>