<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body style="background-color: rgb(233, 219, 219);">
        <div clas="container">
            <div class="jumbotron text-center" style="background-image: url(https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg); background-position:center; background-size: auto;"  alt="mars_image">
                <h1 style ="color: rgb(233, 219, 219);">Mission to Mars</h1>
                <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
            </div>
        </div>
            
            <!-- surf data -->
        <div class="container">
            <div class="row" id="mars-news">
                <div class="col-md-12">
                    <h2>Latest Mars News</h2>
                    <h4>{{ mars.newsTitle }}</h4>
                    <p>{{ mars.newsParagraph }}</p>
                </div>
            </div>
        </div>
        <hr>

        <!--- Two Column Section -->
        <div class="container padding">
            <div class="row padding">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h2>Featured Mars Image</h2>
                    <img src="{{ mars.featuredImage }}" class="img-fluid" style="max-width:100%; max-height: auto;" alt="Mars Featured Image">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h2>Mars Facts</h2>
                    {{ mars.facts|safe }}
                </div>
            </div>
        </div>
        <hr>
        
        <!--- Mars Hemispheres -->

        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                <h2>Mars Hemispheres</h2>
                </div>
                <hr class="light">
            </div>
        </div>
        </br>
        <div class="container">
            <div class="row" id="mars-news">
                <div class="col-md-12">

                {% for hemisphere in mars.hemispheres %}
                    <div class="col-sm-3">
                        <div class="thumbnail">
                            <img src="{{ hemisphere.img_url }}" class="img-fluid" alt="...">
                            <div class="caption">
                                <h3>{{hemisphere.title}}</h3>
                            </div>
                        </div>
                    </div>
               {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>